body{
	margin:0;
	background-color:#302c2c;
}

nav{
	color:black;
	background-color:#302c2c;
	height:75px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	transition: all 0.5s;
	position:fixed;
	top:0px;
	z-index:2;
	width:100%;
}

img {
	transition: all 0.5s;
}

a{
	font-size:25px;
	margin:25px;
	color:white;
	text-decoration:none;
	font-family:Arial;
}

h1 {
	font-size:50px;
	font-family:Arial;
	
}

p{
	font-size:21px;
	font-family:Arial;
}

.photos-column img:hover {
	cursor:pointer;
}

.contact-info-wrapper {

	z-index:5;
	background-color:white;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	margin:30px 0 30px 0;
}

.contact-info-wrapper h1 {
	padding:0;
	margin:0;
	align-self:flex-start;
}

.contact-images {
	width:50%;
	display:flex;
	flex-direction:row;
	}


.contact-images img{
	width:100%;
	
}


.contact-info{
	width:700px;
	display:flex;
	flex-direction:column;

}

.contact-info p {
	font-size:20px;
	font-family:none;
	margin:0;
	font-weight:normal;
}

.contact-info form {
	display:flex;
	flex-direction:column;
}



::placeholder {
	font-family:Arial;
	font-size:20px;
	color:black;
}

label {
	font-family:Arial;
	font-size:25px;
	padding: 20px 0px 5px 0px;
	color:black;
}

input, textarea {
	padding:10px;
	display:flex;
	align-items:center;
	font-size:20px;
	border:solid 1px black;

	font-family:Arial;
	resize:none;
	background-color:white;
	color:black;
}



input:focus, textarea:focus {
	border:solid 1px black;
	background-color:#f2f2f2;
	border-radius:0px !important;;
}

.hamburger{
	display:none;
	color:white;
}

.hamburger:hover {
	cursor:pointer;
	
}

#logo p{
	color:white;
}

.about-wrapper{
	flex-wrap:none;
	display:flex;
	flex-direction:row;
	align-items:center;
}


nav p, a{
	color:black;
} 

.main-links {
	color:white;
	font-size:17px;
	font-family:Arial;
	margin:20px;
}

@media only screen and (max-width: 800px) {	
nav {
	z-index:100;
	width:100%;
	left:0;
	top:0;
	position:fixed;
	box-shadow: 0px 1px 7px black;
}

#photos-container {
	margin-top:60px;
}

.hamburger {
	display:flex;
    
}
.main-links{
	display:none;
}	
	
.contact-info{
	width:100%;
}

.contact-info-wrapper{
	margin:30px 0 30px 0;
	margin-top:90px;
	height:calc(100vh - 120px);
}

.about-text h1 {
	margin:0;
}

img.main-logo{
	height:80px;
}

#logo {margin:0;}

nav {
	height:60px;
}

::placeholder,input,label{
	font-size:19px;
	font-family:Arial;
	color:black;
}

a {
	font-size:4vh;
	padding:20px;
	margin:0;
}

h2{
	font-size:19px;
	
}

h1 {
	font-size:30px;
	
}
#logo p {
	color:white;
	font-size:20px;
}

p {
	font-size:16px;
	
}
.about-wrapper {
}



body {


}

#lightbox-image{
	
	max-height:100%;
	width:100%;
	height:auto;
	max-width:1200px;
	aspect-ratio:auto;

}

#lightbox {
	z-index:2;
	height:calc(100vh);
	position:fixed;
	top:0;
	transition:all 1s;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
}
.lightbox-button {
	height:100%;
}


ul {
  flex-wrap:wrap;
  display: flex;
  padding:0;
}

li {
  max-width:100%;
}

.right  {
 right:15px;
 font-size:30px;
}

.left {
 left:15px;
 font-size:30px;
}

#right {
	right:0px;
	margin-top:calc(50%);
	margin-bottom:calc(50%);
	padding:50px;
	padding-right:25px;
	color:white;
}
#left {
	left:0px;
	
	padding:50px;
	padding-left:25px;
	color:white;
}	


#x {
	margin-top:0px;
}

.mobile-contact {
	display:block;
	width:100%;

	
}

.contact-wrapper {
	height: calc(100vh - 60px);
	padding-top:60px;
	display:flex;
	flex-direction:column;	
	align-items:center;
	justify-content:center;
}

.contact-info {
	width:calc(100% - 50px);
	padding-top:0px;
	padding-bottom:25px;
}

.contact-info-wrapper h1 {
	padding:25px 25px 0px 25px;
}

.contact-info-wrapper {
	margin:0;
	width:100%;
	height:100%;

}

.contact-images {
	display:none;
}
.about-wrapper img {
	display:none;

}

.about-image {
	padding-top:60px;
	
}
}

@media only screen and (min-width: 1201px){
	.about-wrapper img {
		min-width:60%;
		max-width:60%;
	}
	
	.about-text {
		margin-right:-75px;
		padding:30px;
	}
	
	.about-wrapper {
		padding:70px;
	}
}

@media only screen and (max-width: 1200px){
	.about-text {
		padding:30px;
		min-width:500px;
	}
	.about-wrapper img {
		padding-top:70px;
		width:100%;
		margin-left:0px;
	}
	
	.about-wrapper {
		padding:0px;
		display:flex;
		flex-direction:column-reverse;
}

.about-info h1{
	font-size:20px;
}
}

@media only screen and (min-width: 801px){
	.about-wrapper img {
	 

	height:100%;


}

img.main-logo{
	height:115px;
}
	

.about-text{

	height:100%; 
	background-color:white; 
	

	z-index:1;
	
}

.about-text p {
	line-height:35px;
}
	
	
.mobile-contact {
	display:none;
	
}	

	
.contact-wrapper {
	height:calc(100% - 75px);
	padding-top:75px;
	display:flex;
	flex-direction:row;	
	align-items:center;
	justify-content: center;
}
	
.contact-images {
	width:1075px;
	gap:8px;
	margin-left:-150px;
	z-index:1;
	margin-right:75px
}
	
	
::placeholder,input,label{
	font-family:Arial;
}

.contact-info-wrapper {
	margin: 75px;
    margin-top: 105px;
    height: 100%;
	width:700px;
	padding:50px;
}

#left {
	left:0px;
	height:100%;
	width:calc(50% - 150px);
	padding:0px 75px 0px 75px;
	display:flex;
	justify-content:flex-start;
	align-items:center;
	color:white;
}

#right {
	right:0px;
	height: calc(100% - 200px);
	width:calc(50% - 150px);
	padding:0px 75px 0px 75px;
	display:flex;
	justify-content:flex-end;
	align-items:center;
	color:white;
}	
	
	
	
#logo p{
font-size:26px;	
	
	
}
#photos-container {
	margin-top:75px;
}
	
	.right  {
 right:75px;
 font-size:50px;
}

.left{
 left:75px;
 font-size:50px;
}

#lightbox button {
	margin-right:50px;
	margin-top:10px;
}
	
.hamburger {
	display:none;
}
.main-links{
	display:flex;
}

#side-menu {
	display:none;
}

#lightbox{
	height:calc(100vh);
	position:fixed;
	top:0;
	transition:all 1s;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	z-index:2;

}

#lightbox-image{
	position:relative;
    height:calc(100vh - 100px);
	z-index:4;
	
}

#totalList {
	list-style-type: none;
	padding:0;
	margin:0;
}



}

#main-menu {
	display:flex;
	align-items:center;
	flex-direction:row;
}

#side-menu {
	transition: all 1s;
	display:none;
	flex-direction:column;
	color:white;
	right:0;
	height:100vh;
	width:100%;
	background-color:white;
	position:fixed;
	top:0;
	align-items:flex-end;
	z-index:10;
	align-items: center;
    justify-content: center;
	
}


@media only screen and (max-width: 1000px) {


.about-wrapper{
	display:flex;
	flex-direction:column-reverse;
	width:100%;
}

.about-text{
background-color:white;
	height:100%;
	padding:30px;
}
.about-text p{
font-size:19px;
}
.photos-column {
	width:40%;
}

}




@media only screen and (min-width: 801px) {
#x{
	margin-top:0px;

}
.photos-column {
	width:25%;
}

.right  {
 right:40px;
 font-size:75px;
}

.left{
 left:40px;
 font-size:75px;
}

}

@media only screen and (max-width: 700px) {
	.photos-column {
	width:100%;
}
}

@media only screen and (min-width: 1100px) {
.photos-column {
	width:20%;
	flex-grow:0;
}

.right  {
 right:75px;
 font-size:50px;
}

.left{
 left:75px;
 font-size:50px;
}
	

}


.photos-column {
	display:flex;
	flex-direction:column;
	flex-grow:1;
	filter:blur(0px);
	gap:8px;
}

.photos-wrapper {
	display:flex;
	flex-wrap:wrap;
	width:100%;
	gap:8px;
}

#lightbox-buttons {
	display:none;
	position:absolute;
	top:0;
}


#lightbox{
	display:none;
}


#about-image{
	opacity:0;
}

#transition-image{
	opacity:0;
	transform:scale(0);
}

.lightbox-button {


height:100%;
z-index:2; 
background-color:rgba(0,0,0,0);
border:none; 
color:white;
display:flex;
align-items:center;
box-shadow: none;
}



.lightbox-button:hover {
	cursor:pointer;
}


.fadeIn {
	opacity: 1;
	animation: fadein 0.5s linear;
}

.fadeOut {
	opacity: 1;
	animation: fadeout 0.5s linear;
}

@keyframes fadein {
  0% { opacity: 0}
  100% { opacity: 1 }
}


@keyframes fadeout {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
